.toggle-header {
  margin-top: 15px;
  margin-bottom: 8px;
}

.passed-details {
  margin-bottom: 6px;
}

.p-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.quota-header {
  margin-top: 15px;
  margin-bottom: 2px;
}

.passed-details {
  margin-bottom: 7px;
}

.failed-details {
  margin-bottom: 7px;
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

.external-link {
  font-size: 8px;
  margin-bottom: 1px;
}
